NFeConsultaNFe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNFe" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNFe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNFe">
      <s:element name="nfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeConsultaNFeLogResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <s:complexType name="nfeCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsultaNFeLogSoapIn">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNFeLogSoapOut">
    <wsdl:part name="nfeConsultaNFeLogResult" element="tns:nfeConsultaNFeLogResult" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNFeLognfeCabecMsg">
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="NfeConsultaNFeSoap">
    <wsdl:operation name="nfeConsultaNFeLog">
      <wsdl:input message="tns:nfeConsultaNFeLogSoapIn" />
      <wsdl:output message="tns:nfeConsultaNFeLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeConsultaNFeSoap" type="tns:NfeConsultaNFeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNFeLog">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNFe/nfeConsultaNFeLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:nfeConsultaNFeLognfeCabecMsg" part="nfeCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NfeConsultaNFeSoap12" type="tns:NfeConsultaNFeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNFeLog">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNFe/nfeConsultaNFeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:nfeConsultaNFeLognfeCabecMsg" part="nfeCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeConsultaNFe">
    <wsdl:port name="NfeConsultaNFeSoap" binding="tns:NfeConsultaNFeSoap">
      <soap:address location="https://www1.nfe.fazenda.gov.br/NFeConsultaNfe/NFeConsultaNFe.asmx" />
    </wsdl:port>
    <wsdl:port name="NfeConsultaNFeSoap12" binding="tns:NfeConsultaNFeSoap12">
      <soap12:address location="https://www1.nfe.fazenda.gov.br/NFeConsultaNfe/NFeConsultaNFe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>