NFeConsNSUFal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsNSUFal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsNSUFal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsNSUFal">
            <s:element name="nfeConsNSUFaltante">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="nfeDadosMsg">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any />
                
                                </s:sequence>
              
                            </s:complexType>
            
                        </s:element>
          
                    </s:sequence>
        
                </s:complexType>
      
            </s:element>
            <s:element name="nfeConsNSUFaltanteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="nfeConsNSUFaltanteResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any />
                
                                </s:sequence>
              
                            </s:complexType>
            
                        </s:element>
          
                    </s:sequence>
        
                </s:complexType>
      
            </s:element>
            <s:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
            <s:complexType name="nfeCabecMsg">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="indComp" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        
                </s:sequence>
                <s:anyAttribute />
      
            </s:complexType>
    
        </s:schema>
  
    </wsdl:types>
    <wsdl:message name="nfeConsNSUFaltanteSoapIn">
        <wsdl:part name="parameters" element="tns:nfeConsNSUFaltante" />
  
    </wsdl:message>
    <wsdl:message name="nfeConsNSUFaltanteSoapOut">
        <wsdl:part name="parameters" element="tns:nfeConsNSUFaltanteResponse" />
  
    </wsdl:message>
    <wsdl:message name="nfeConsNSUFaltantenfeCabecMsg">
        <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  
    </wsdl:message>
    <wsdl:portType name="NFeConsNSUFalSoap">
        <wsdl:operation name="nfeConsNSUFaltante">
            <wsdl:input message="tns:nfeConsNSUFaltanteSoapIn" />
            <wsdl:output message="tns:nfeConsNSUFaltanteSoapOut" />
    
        </wsdl:operation>
  
    </wsdl:portType>
    <wsdl:binding name="NFeConsNSUFalSoap" type="tns:NFeConsNSUFalSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="nfeConsNSUFaltante">
            <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsNSUFal/nfeConsNSUFaltante" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:nfeConsNSUFaltantenfeCabecMsg" part="nfeCabecMsg" use="literal" />
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
      
            </wsdl:output>
    
        </wsdl:operation>
  
    </wsdl:binding>
    <wsdl:binding name="NFeConsNSUFalSoap12" type="tns:NFeConsNSUFalSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="nfeConsNSUFaltante">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsNSUFal/nfeConsNSUFaltante" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
                <soap12:header message="tns:nfeConsNSUFaltantenfeCabecMsg" part="nfeCabecMsg" use="literal" />
      
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
      
            </wsdl:output>
    
        </wsdl:operation>
  
    </wsdl:binding>
    <wsdl:service name="NFeConsNSUFal">
        <wsdl:port name="NFeConsNSUFalSoap" binding="tns:NFeConsNSUFalSoap">
            <soap:address location="https://hom.nfe.fazenda.gov.br/NFeConsNSUFal/NFeConsNSUFal.asmx" />
    
        </wsdl:port>
        <wsdl:port name="NFeConsNSUFalSoap12" binding="tns:NFeConsNSUFalSoap12">
            <soap12:address location="https://hom.nfe.fazenda.gov.br/NFeConsNSUFal/NFeConsNSUFal.asmx" />
    
        </wsdl:port>
  
    </wsdl:service>

</wsdl:definitions>